body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.liquid-container {
  overflow: inherit;
}