.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.footer {
  color: #777;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 5px solid #4aaa42;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.header, .marketing, .footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.marketing {
  margin: 3rem 0;
}

.marketing h2 {
  font-weight: normal;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
    margin-top: 7rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }

  main {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 30rem;
  }

  .component-container-title {
    border-bottom: 1px solid transparent;
    color: #617961;
    line-height: 24px;
    margin: 20px 0 24px;
    padding: 0 24px;
    font-size: 1.5rem;

    .fa {
      margin-left: 0.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    small {
      font-weight: 100;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}
