{{#if isLoading}}
  <div class="loading">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
{{else}}
  {{#each-in results as |key value|}}
    {{#if value.length}}
      <div class="result-group">
        <span class="result-group-heading tag tag-default">
          {{#if (eq key 'canI')}}
            Can I...
          {{else}}
            Show me...
          {{/if}}
        </span>
        <ul class="list-unstyled">
          {{#each value as |resultItem|}}
            <li {{action 'chooseItem' resultItem}}>
              {{resultItem.desc}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/each-in}}
{{/if}}
