.search-container {
  margin: 0 auto;

  .search-box {
    margin-bottom: 0;

    input {
      border: none;
      border-bottom: 2px solid;
      border-radius: 0;
      box-shadow: none;
    }
  }

  @media (min-width: 768px) {
    max-width: 40rem;
    min-width: 40rem;

    .main-search {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .search-box {
      width: 100%;
    }
  }
}