<div class="main-search">
  <form class="aor search-box" {{action "noop" on="submit"}}>
    <div class="form-group">
      <label class="form-control-label sr-only" for="snap-search-box">Search for anything related to transactions</label>
      {{input value=searchValue key-up=(action 'handleFilterEntry') class="form-control" placeholder="Can I... Show Me..."}}
      <button type="submit" class="fm">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>

{{yield isSearchActive isLoading results (action 'selectResult')}}