<div class="row">
<form>
    <div class="form-group col-md-6 search-box">
      <label class="form-control-label sr-only" for="snap-search-box">Search for anything related to transactions</label>
      <input type="text" class="form-control form-control-success" id="snap-search-box" placeholder="Can I... Show Me...">
    </div>
  </form>
</div>