<div class="component-container-title">Popular Help Articles</div>
<div class="row">
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">Getting Started</h3>
      <p class="card-text">Setting up your new Snap experience.</p>
      <a href="#" class="">
        6 articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">Snap Assistant</h3>
      <p class="card-text">How to use the assistant like a pro.</p>
      <a href="#" class="">
        1 article <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">News Brief</h3>
      <p class="card-text">What's included and how to customize it.</p>
      <a href="#" class="">
        1 article <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">My Snap</h3>
      <p class="card-text">How to get most of your summary.</p>
      <a href="#" class="">
        2 articles <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">Payments and Transfers</h3>
      <p class="card-text">Learn how to move money between different accounts.</p>
      <a href="#" class="">
        1 article <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card card-outline-secondary col-xs">
    <div class="card-block">
      <h3 class="card-title">Goals</h3>
      <p class="card-text">Effortlessy learn how to setup Snap to automatically create goals for you.</p>
      <a href="#" class="">
        1 article <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>