<div class="component-container-title">Chat with a Live Agent</div>

<div class="container-fluid">
  <div class="row chat-container">
    {{ember-slack-chat options=options}}
  </div>
</div>
<div>&nbsp;</div>