<div class="component-container-title">Spending Advice</div>

<div class="container">
  <div class="row">
    <div class="spend-advice">
      <span class="spend-amount {{if (gt model.amount 12) 'alert-warning' 'alert-success'}}">
        ${{model.amount}}</span> {{if (gt model.amount 12) 'is a bit high' 'just right'}}.  You normally spend on average around 
      <span class="spend-average">$12.</span>  You are still on track though!
    </div>
  </div>

  {{! Spend graph. }}
  <div class="row">
    {{c3-chart data=data axis=axis color=color}}
  </div>
</div>