<div class="site-wrapper">
  <div class="container">
    {{! Site Navigation. }}
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-tabs float-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Banking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Credit Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wealth Investing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resource Center</a>
          </li>
          <li class="nav-item">
            {{link-to 'Snap' 'index' class="nav-link active"}}
          </li>
        </ul>
      </nav>
      <h3 class="text-muted"><img src="assets/images/logo.png"></h3>
    </div>

    {{! Main content. }}
    <main>
      {{liquid-outlet}}
      {{locations-map}}
    </main>

    {{! Site footer. }}
    <footer class="footer">
      <p>Copyright © 2016 First National Bank of Omaha. All Rights Reserved.</p>
      <p>1620 Dodge Street, Omaha, Nebraska 68197</p>
    </footer>

  </div>
</div>
